/* ---------- Laptop 1440 x 900 ---------- */
@media(min-width:415px){
  main{
    background-image: url(./img/backgroundPC1.png);
    padding-bottom: 1.6%
  }

  #initial-container{
    width: 30vw;
    padding: 3% 0%;
    margin: 16% 0%;
  }

  #img-rabbit{
    display: none;
  }

  #logo{
    margin-top: 2%;
    width: 25vw;
  }

  h2{
      font-size: 3.5rem;
  }

  .input-register{
    width: 70%;
    font-size: 2rem;
  }

  .btn-p, .btn-s{
    width: 12vw;
    font-size: 2rem;
    padding: 1% 0%;
    border-radius: 25px;
  }
  #c-container p{
    font-size: 1.4rem;
  }

  #mobile-header, #mobile-nav{
    display: none;
  }

  #w-container{
    background-image: none;
  }

  #pc-header{
    background-image: url(./img/backPC.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2.5%;
    position: fixed;
    width: 100vw;
  }

  #pc-nav{
    display: block;
    flex-grow: 0.9;
    background-color: rgba(64, 1, 1, 0.7);
    padding: 0.8% 0%;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    max-width: 38vw;
  }

  #logo-w{
    margin-right: 5%;
    margin-top: 1%;
    width: 28vw;
  }

  .btn-logout{
    margin: 0;
    margin-left: 15%;
    padding: 0.5% 1%;
    height: auto;
  }

  #img-logout{
    width: 4.5vw;
  }

  #w-container ul{
    justify-content: flex-end;
  }

  #w-container li{
    margin-right: 30px;
  }

  .img-btn-nav{
    width: 3.5vw;
  }

  #btn-publish-pc, #btn-home-pc, #btn-perfil-pc{
    padding: 20%;
    border: none;
    border-radius: 60px;
    justify-content: flex-end;
    opacity: 0;
  }

  button#btn-home-pc {
    background-color: black;
  }
  #img-perfil{
    width: 5vw;
  }

  #btn-perfil-pc{
    padding: 0;
  }

  #posts {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20%;
    height: 30%;
    width: 100%;
  }

  .container-posts {
    position: relative;
    background-color: #FFECE2;
    border-radius: 15px;
    width: 40%;
    height: 90%;
  }

  #posts ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  #posts li {
    margin-right: 10px;
  }

  #btn-like {
    display: flex;
    border-radius: 40px;
    border: none;
    margin-right: 10px;
    box-sizing: 20px;
  }

  #btn-delete {
    display: flex;
    border-radius: 40px;
    border: none;
    margin-right: 20px;
  }

  .img-btn-wall {
    width: 30px;
  }

  #div-pet-name {
    position: absolute;
    margin-top: 35%;
    right: 40%;
  }
}

/* ---------- PC 1920 x 1080 ---------- */

@media(min-width:1600px){
  main{
    padding-bottom: 0.6%;
  }

  #initial-container{
    margin: 10.5% 0%;
  }

  h2{
      font-size: 4.5rem;
  }

  .btn-p{
    font-size: 2.5rem;
  }
  #c-container p{
    font-size: 1.6rem;
  }

  #pc-header{
    padding: 0;
    padding-bottom: 1.4%;
  }

  #logo-w{
    margin-top: 0.8%;
    margin-right: 8%;
    width: 22vw;
  }

  #img-logout{
    width: 3.5vw;
  }

  .btn-logout{
    padding: 0.3% 0.7%;
    height: auto;
  }

  .img-btn-nav{
    width: 3vw;
  }

#img-perfil{
    width: 4.2vw;
  }
}
