/*------------***** Mobile pixel 2 411 x 731 *****----------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Signika', sans-serif;
}

body{
  background-color: #FFBB5D;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/background2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#initial-container{
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 3px 10px #733527;
    height: auto;
    margin: 50% 0%;
    position: relative;
    padding: 5% 0%;
    width: 75vw;
    /*display: none;*/
}
/* -------------------- Contenedor Principal ----------------------*/
#c-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---*** HEADER ***--- */
#img-rabbit{
position: absolute;
width: 45vw;
top: -109px;
right: 0;
}

#logo{
    width: 240px;
    margin-top: 30px;
    align-self: center;
}

/* ------------*** VISTAS ***------------ */
#welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2{
    font-size: 3rem;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 900;
    color: #434A73;
    width: 100%;
}

.btn-p{
    border-radius: 15px;
    width: 35vw;
    padding: 2% 0%;
    margin: 2.5% 0%;
    font-size: 1.5rem;
    border: none;
    background: linear-gradient(90deg, #FFBB5D 0%, #E88E48 65.36%, #FF824F 100%);
    font-family: 'Signika', sans-serif;
}

.background-title{
    background-color: rgba(232, 142, 72, 0.6);
}

#register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-register{
    border-style: none;
    border-bottom: 2px solid #E88E48;
    padding: 2% 5%;
    margin-top: 1.5%;
    margin-bottom: 3%;
    font-size: 15px;
}

#btn-g{
    margin-top: 8%;
    margin-bottom: 4%;
}

#logo-google{
    width: 12%;
}

.btn-s{
    border-radius: 15px;
    width: 35vw;
    padding: 2% 0%;
    font-size: 1.5rem;
    border: 2px outset #FFBB5D;
    font-family: 'Signika', sans-serif;
    background: none;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

.btn-s a {
    color: #434A73;
}

#c-container p {
  font-size: 1.2rem;
  border-radius: 3px;
  margin: 0% 4% 2% 4%;
  padding: 2% 5%;
}

#rules{
  background-color: rgba(255, 193, 7, 0.7);
  display: none;
}

.error{
  background-color: rgba(255, 34, 34, 0.5);
  display: none;
}

#verification-email{
    display: none;
    background-color:rgba(76, 175, 80, 0.8);
}

#w-container{
  background-image: url(./img/backWall.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#w-container header{
  padding-bottom: 1%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-image: url(./img/backHeader.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#a-logo{

  margin-right: 5%;
}

#logo-w{
  width: 60vw;
  padding: 5%;
}

#btn-logout{
  margin-top: 5%;
  margin-left: 7%;
  padding: 2% 3%;
  background: linear-gradient(90deg, #FFBB5D 0%, #E88E48 65.36%, #FF824F 100%);
  height: 7vh;
  border: 2px solid #333333;
  border-radius: 8px;
}

#img-logout{
  width: 12vw;
}

#w-container nav{
  background-image: url(./img/backNavWall.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#w-container ul{
  display: flex;
  justify-content: space-around;
  position: relative;
}

#w-container li{
  list-style: none;
}

.img-btn-nav{
  width: 12vw;
}

#btn-publish, #btn-home, #btn-perfil{
  border: none;
}

#btn-home{
  padding: 20%;
  border-radius: 40px;
  margin-top: 20%;
  margin-bottom: 30%;
}

#btn-publish{
  position: absolute;
  padding: 2.5%;
  border-radius: 40px;
  right: 41vw;
  bottom: 5vh;
}

#btn-perfil{
  border-radius: 40px;
  margin-top: 15%;
  margin-bottom: 0%;
}

#img-perfil{
  width: 16.8vw;
}

.btn-nav{
  padding: 15%;
  border-radius: 40px;
  margin-top: 20%;
  margin-bottom: 20%;
}

.btn-perfil{
  border-radius: 40px;
  border: none;
}
